## CURSO : ANÁLISIS DE DATOS AMBIENTALES CON PYTHON
##### CLASE 2

### 1. TIPOS DE OBJETOS

In [72]:
a = 16
print(a)

16

In [73]:
type(a)

int

In [74]:
a = 16.0
type(a)

float

In [75]:
c = 5 + 3j
type(c)

complex

In [76]:
b = "Hola, mundo"
print(b)

Hola, mundo

In [77]:
type(b)

str

In [78]:
c = True
d = False

c == d

False

In [79]:
d = 5
e = 10

d != e

True

In [80]:
d = 4 + 5j
d**2

(-9+40j)

In [81]:
type(d)

complex

### 2. OPERACIONES BÁSICAS EN PYTHON

#### NÚMEROS (INT, FLOAT and COMPLEX)

In [82]:
x1 = ((5 * 8) / 10)**2
print(x1)

16.0

In [83]:
type(x1)

float

In [84]:
int(x1)

16

In [85]:
type(int(x1))

int

In [86]:
x2 = ( 5 * 9 + 6 / 2) * 3
x2

144.0

In [87]:
x3 = x1 + x2
x3

160.0

In [88]:
x4 = 9 // 2
x4

4

In [89]:
x5 = 5**2
x5

25

In [90]:
# MODULO O LIBRERIA "MATH"

import math

pi = math.pi
pi**2

9.869604401089358

In [91]:
math.sqrt(81)

9.0

#### TEXTO (STRING)

In [92]:
s1 = "hola" 
s2 = "¿cómo te fue hoy?"
s1,s2

('hola', '¿cómo te fue hoy?')

In [93]:
s1 = "5"
type(s1)

str

In [94]:
type(s1)

str

In [95]:
s3 = s1 + s2
s3

'5¿cómo te fue hoy?'

In [96]:
s4 = s1 + ", " + s2
s4

'5, ¿cómo te fue hoy?'

In [5]:
# METODOS EN STRINGS

s5 = 'aaa,bbb,ccccc,dd'
s6 = s5.split(',') 
s6

['aaa', 'bbb', 'ccccc', 'dd']

In [6]:
# METODO PARA CONVERTIR A MAYUSCULA
s6 = "hola"
s6.upper()

'HOLA'

In [8]:
s7 = "PYTHON EN CIENCIAS AMBIENTALES"
s7.lower()

'python en ciencias ambientales'

In [99]:
# LISTA DE METODOS APLICABLES A UNA STRING

dir(s6)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
help(s6.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [24]:
s6 = "holA"
s6

'holA'

#### LIST (LISTA)

In [10]:
List = ["TEMP", 26.5, "HUM", 85, "DIRV", "NE"]

In [11]:
len(List)

6

In [12]:
List[:3]

['TEMP', 26.5, 'HUM']

In [13]:
List[2:]

['HUM', 85, 'DIRV', 'NE']

In [14]:
List[1:5]

[26.5, 'HUM', 85, 'DIRV']

In [17]:
# LAS LISTAS SON DE TIPO MUTABLE

List[2] = "HUMEDAD"
List

['TEMP', 26.5, 'HUMEDAD', 85, 'DIRV', 'NE']

In [25]:
# MULTIPLICACION DE LISTAS
List*2

['TEMP',
 26.5,
 'HUMEDAD',
 85,
 'DIRV',
 'NE',
 'TEMP',
 26.5,
 'HUMEDAD',
 85,
 'DIRV',
 'NE']

In [26]:
# CONCATENAR LISTAS

List + ["VELV", 1.5]

['TEMP', 26.5, 'HUMEDAD', 85, 'DIRV', 'NE', 'VELV', 1.5]

In [27]:
List2 = [List, ['TEMP', 28.8, 'HUMEDAD', 83, 'DIRV', 'NW']]
List2

[['TEMP', 26.5, 'HUMEDAD', 85, 'DIRV', 'NE'],
 ['TEMP', 28.8, 'HUMEDAD', 83, 'DIRV', 'NW']]

In [28]:
List2[0]

['TEMP', 26.5, 'HUMEDAD', 85, 'DIRV', 'NE']

In [29]:
List2[1][1]

28.8

In [31]:
List3 = [row[1] for row in List2]
List3

[26.5, 28.8]

In [30]:
List4 = [row[1] + 1 for row in List2]
List4

[27.5, 29.8]

#### DICCIONARIOS

In [32]:
Dict = {"TEMP": 26.5, "HUM": 85, "DIRV": "NE"}

In [33]:
type(Dict)

dict

In [35]:
Dict["HUM"]

85

In [36]:
Dict[1]

KeyError: 1

In [39]:
Dict2 = {"D1": Dict, "D2":{'TEMP':28.8, 'HUMEDAD': 83, 'DIRV': 'NW'}}
Dict2

{'D1': {'TEMP': 26.5, 'HUM': 85, 'DIRV': 'NE'},
 'D2': {'TEMP': 28.8, 'HUMEDAD': 83, 'DIRV': 'NW'}}

#### TUPLA

In [40]:
Tupla = ("TemC", 26.5, "Hum", 85, "DirV", "NE")
type(Tupla)

tuple

In [41]:
Tupla

('TemC', 26.5, 'Hum', 85, 'DirV', 'NE')

In [42]:
Tupla[1]

26.5

In [43]:
Tupla[1] = 27

TypeError: 'tuple' object does not support item assignment

In [44]:
Tupla.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
dir(Tupla)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#### ARCHIVOS (FILES)

### 3. FUNCIONES BÁSICAS EN PYTHON

In [45]:
l1 = [2,5,6,8,9,20,-6,-10]
l1

temp = [16, 18, 20, 17, 15]
temp

[16, 18, 20, 17, 15]

In [122]:
# AÑADIR UN VALOR A LA LISTA

temp.append(18.5)
temp

[16, 18, 20, 17, 15, 18.5]

In [123]:
# ELIMINAR EL INDICE 1

temp.pop(1)

18

In [124]:
temp

[16, 20, 17, 15, 18.5]

In [125]:
type(temp)

list

In [126]:
max(temp)

20

In [127]:
min(temp)

15

In [46]:
sum(temp)

86

### 4. DECLARACIONES (Python’s Statements)

#### 4.1. Declaración: if

In [48]:
Temp = 20.5

if Temp == 20.5 :
    print("Temperatura correcta")

Temperatura correcta

In [50]:
Temp = 20.6

if Temp == 20.5 :
    print("Temperatura correcta")

#### 4.2. Declaración: else

In [52]:
Temp = 20.5

if Temp == 21 :
    print("Temperatura correcta")
else:
    print("Temperatura incorrecta")

Temperatura incorrecta

In [132]:
Temp2 = [23.5, 18.5, 20, 25, 26.3, 25.5]

for x in Temp2:
    if x >= 25 :
        print("Temperatura alta")
    else:
        print("Temperatura baja")

Temperatura baja
Temperatura baja
Temperatura baja
Temperatura alta
Temperatura alta
Temperatura alta

In [3]:
Temp3 = float(input("INGRESAR LA TEMPERATURA PROMEDIO DIARIA: "))

if Temp3 >= 25:
    print("La temperatura es alta")
    print("Recuerde no usar ropa abrigadora hoy")
        
elif 23 < Temp3 < 25:
    print("La temperatura es normal 1")     

elif 20 < Temp3 < 23:
    print("La temperatura es normal 2")
        
else:
    print("La temperatura es baja")
    print("Recuerde usar ropa abrigadora hoy")
print("¡Hasta la próxima!")

INGRESAR LA TEMPERATURA PROMEDIO DIARIA: 15
La temperatura es baja
Recuerde usar ropa abrigadora hoy
¡Hasta la próxima!

In [126]:
Temp4 = float(input("INGRESAR LA TEMPERATURA PROMEDIO: "))

if Temp4 < 0:
    print("Helada meterológica")   
        
elif Temp4 > 0:
    print("No es helada meteorológica")     

elif Temp4 == 0:
    print("La temperatura es 0°C")
        
else:
    print("La temperatura es baja")
    print("Recuerde usar ropa abrigadora hoy")    
print("¡Hasta la próxima!")

INGRESAR LA TEMPERATURA PROMEDIO: 15
No es helada meteorológica
¡Hasta la próxima!

#### 4.3. Declaración: elif

In [63]:
n = 25

if n == 20 : 
    print("Temperatura es igual a 20°C")
elif n == 25 :
    print("Temperatura es igual a 25°C")
else : print("Temperatura no es igual a 20°C, ni 25°C, su valor es igual a " + str(n) +"°C")

Temperatura es igual a 25°C

### 5. CONDICIONALES Y LOOPS

#### 5.1. Declaración: while

In [64]:
i = 0
while i < 15 : 
    i = i + 1
    print("El número es " + str(i))

El número es 1
El número es 2
El número es 3
El número es 4
El número es 5
El número es 6
El número es 7
El número es 8
El número es 9
El número es 10
El número es 11
El número es 12
El número es 13
El número es 14
El número es 15

#### 5.1. Declaración: for

In [136]:
for i in range(0,5) :
    print(i)

0
1
2
3
4

In [67]:
Temp2 = [23.5, 18.5, 20, 25, 26.3, 25.5]

for i in Temp2:
    print("La temperatura es " + str(i))

La temperatura es 23.5
La temperatura es 18.5
La temperatura es 20
La temperatura es 25
La temperatura es 26.3
La temperatura es 25.5

In [71]:
Temp2

[23.5, 18.5, 20, 25, 26.3, 25.5]

In [72]:
# CALCULAR lA SUMA DE LAS TEMPERATURAS

sum_list = 0
prom = 0 

for i in range(0,len(Temp2)) :
    sum_list = sum_list + Temp2[i]
print(sum_list)

138.8

In [78]:
# CALCULAR EL PROMEDIO DE LAS TEMPERATURAS

sum_list = 0
prom = 0 
for i in range(0,len(Temp2)) :
    sum_list = sum_list + Temp2[i]
    
print(sum_list/len(Temp2))

23.133333333333336

In [98]:
Temp3 = [20,21.5,26,28,27,24,19]
Temp3

# SUMA DE CUADRADOS

sum_cuad

for i in range(0,len(Temp3)):    
    sum_cuad = sum_cuad + Temp3[i]**2
    
print(sum_cuad)

15953.0

In [94]:
20**2 + 21.5**2 + 26**2 + 28**2 + 27**2 + 24**2 + 19**2

3988.25

### 6. FUNCIONES

In [105]:
# DEFINIMOS UNA FUNCION QUE NOS PERMITA SUMAR 3 NUMEROS

def sum_num(a,b,c) : 
    suma = a + b 
    return(suma)

In [107]:
sum_num(a = 1,b = 4, c=5)

5

In [120]:
# DEFINIMOS UNA FUNCION PARA SUMAR LOS NUMEROS DE UNA LISTA

def sum_lista(lis1):
    sum_list = 0
    
    for i in range(0,len(lis1)) :
        sum_list = sum_list + lis1[i]
    return(sum_list)

In [118]:
list_a = list(range(6))
list_a

[0, 1, 2, 3, 4, 5]

In [122]:
sum_lista(lis1 = list_a)

15

In [124]:
list_b = [x+1 for x in list_a]
list_b

[1, 2, 3, 4, 5, 6]

In [125]:
sum_lista(list_b)

21

#### 7. TRABAJO APLICATIVO

- Implementar una función que permita indentificar sí el número que ingresas es par o impar.
- Implementar una función que permita obtener la suma de los valores al cuadrado de una lista.
- Implementar una función que permita identificar sí el número que ingresa y/o una lista de valores cumplen con los Estandares de Calidad Ambiental (ECA) de aire para el valor promedio anual del parámetro PM 2.5.

In [8]:
# DEFINIMOS UNA FUNCION 1

obj_num = float(input("INGRESAR EL NUMERO A EVALUAR: "))

def fun_par_impar(x):
    if x%2 == 0:
        return("El objeto es par")
    else:
        return("El objeto no es par")

fun_par_impar(obj_num)

INGRESAR EL NUMERO A EVALUAR: 18

'El objeto es par'

In [26]:
def fun_par(x):
    for i in x:       
        if i%2 == 0:
            print("El objeto es par")
        else:
            print("El objeto es impar")
    


lista1 = [0,15,20,25,26,28,30]

fun_par(lista1)

El objeto es par
El objeto es impar
El objeto es par
El objeto es impar
El objeto es par
El objeto es par
El objeto es par